
#bartoDo{
    margin-top: -1vh;
    margin-bottom: 7vh;
    visibility: hidden;
    content-visibility: hidden;
}

. barCompleted{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: left;
    height: 5vh;
    background: #FEC5BB;
    width: 37vw;
    visibility: hidden;
    content-visibility: hidden;
}



.bar {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: left;
    height: 5vh;
    background: #bbe0bd;
    width: 37vw;
    visibility: hidden;
    content-visibility: hidden;
}

.bar-title {
    margin-left: -.2vw;
    font-size: 30px;
    width: 23vw;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 400;
    visibility: hidden;
    content-visibility: hidden;
}

#toDo {
    background: #FEC89A;
    color: #796555;
    visibility: hidden;
    content-visibility: hidden;
}

#completed {
    background: #FEC5BB;
    color: #654e4a;
    visibility: hidden;
    content-visibility: hidden;
    text-align: left;
}

#otherSections {
    background: #bbe0bd;
    color: #4d624e;
    visibility: hidden;
    content-visibility: hidden;
}

.drop-down {
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    background: transparent;
    border-radius: 100%;
    color: #796555;
    outline: none;
    border: none;
    visibility: hidden;
    content-visibility: hidden;
}


.selected {
    width: 80px;
    height: 80px;
    background: #8b000042;;
    visibility: hidden;
    content-visibility: hidden;
}


.drop-down i {
    font-size: 4vh;
    margin-top: 10px;
    margin-left: -5px;
    visibility: hidden;
    content-visibility: hidden;

}

.collapse {
    transform: rotate(-90deg);
    visibility: hidden;
    content-visibility: hidden;
}

.completed {
    background: #FEC5BB;
    visibility: hidden;
    content-visibility: hidden;
}





@media screen and (max-width: 600px) and (max-height: 1000px) {

    #bartoDo {
        margin-top: 0vh;
        margin-bottom: 0vh;
        visibility: visible;
        content-visibility: visible;
    }



    .barCompleted {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: left;
        height: 6.25vh;
        background: #FEC5BB;
        width: 100vw;
        visibility: visible;
        content-visibility: visible;
    }


    .bar {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: left;
        height: 6.25vh;
        background: #bbe0bd;
        width: 100vw;
        visibility: visible;
        content-visibility: visible;
    }

    .bar-title {
        margin-left: -5px;
        font-size: 2em;
        width: 65vw;
        outline: none;
        border: none;
        font-family: Roboto;
        font-weight: 400;
        font-size: 1.85em;
        visibility: visible;
        content-visibility: visible;
    }

    #toDo {
        background: #FEC89A;
        color: #796555;
        visibility: visible;
        content-visibility: visible;
    }

    #completed {
        background: #FEC5BB;
        color: #654e4a;
        visibility: visible;
        content-visibility: visible;
    }

    #otherSections {
        background: #bbe0bd;
        color: #4d624e;
        visibility: visible;
        content-visibility: visible;
    }

    .drop-down {
        height: 2em;
        width: 2em;
        font-size: 1.5em;
        background: transparent;
        border-radius: 100%;
        color: #796555;
        outline: none;
        border: none;
        visibility: visible;
        content-visibility: visible;
    }


    .selected {
        width: 80px;
        height: 80px;
        background: #8b000042;;
        visibility: visible;
        content-visibility: visible;
    }


    .drop-down i {
        font-size: 4vh;
        margin-top: 10px;
        margin-left: -5px;
        visibility: visible;
        content-visibility: visible;

    }

    .collapse {
        transform: rotate(-90deg);
        visibility: visible;
        content-visibility: visible;
    }

    .completed {
        background: #FEC5BB;
        visibility: visible;
        content-visibility: visible;
    }
}