h1,h2,h3,h4,label,p {
    font-family: "Roboto";
    margin: 0;
    font-weight: 400;
    padding: 0;
}

html, body {
    margin:0;
    padding-top: 6vh;

}

body,.task-text {
    background: #f7ecea;
}
.container {
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    display: none;

}

.Sidebar{
    height: 92vh;
    display: flex;
    flex-direction: column;
    width: 39vw;
    overflow: auto;
    visibility: visible;
}

.Sidelist{
    height: 92vh;
    width: 60vw;
    overflow: auto;
    visibility: visible;
}

.wideScreenDisplay{
    margin-top: -4vh;
    flex-grow: 1;
    display: flex;
    height: 92vh;
    position: relative;
    top: 0;
    overflow-y: auto;
    visibility: visible;
}

.sectionsContainer{
    display: none;
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
    .wideScreenDisplay{
        display: none;}
    .Sidelist{
        display: none;
    }
    .Sidebar{
        display: none;
    }
    .container {
        display: block;
    }

    .sectionsContainer{
        display: block;
        margin-top: -12vh;
        padding-top: 70px;
    }
}