.sideBar{
    top: 65px;
    display: flex;
    justify-content: left;
    /*padding: 5px;*/
    height: 5vh;
    background: #bbe0bd;
    width: 37vw;
    visibility: visible;
    content-visibility: visible;
    text-align: left;
}


.SideBarButton{
    margin-left: 10px;
    font-size: 2em;
    margin-top: -2px;
    opacity: .5;
    border: none;
    outline: none;
    background: none;
}

.SideBarButton:hover{
    opacity: 1;
}


.SideBarButton:focus{
    opacity: 1;
}

.sideBarElement{
    margin-top: 15px;
    display: flex;
    justify-content: left;
    padding: 5px;
    height: 35px;
    background: #bbe0bd;
    width: calc(38vw - 10px);
    visibility: visible;
    content-visibility: visible;
}

#sideBarElementSHARED{
    background: #afe5e4;
    color: #4d624e;
    visibility: visible;
    content-visibility: visible;
}

#toDosideBar {
    background: #FEC89A;
    color: #796555;
    visibility: visible;
    content-visibility: visible;
}

#completedsideBar {
    background: #FEC5BB;
    color: #654e4a;
    visibility: visible;
    content-visibility: visible;
}

#otherSectionssideBar {
    background: #bbe0bd;
    color: #4d624e;
    visibility: visible;
    content-visibility: visible;

}


.side-bar-title {
    margin-left: 5px;
    font-size: 1.5em;
    padding-right: 15px;
    width: calc(37vw - 180px);
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 400;
    visibility: hidden;
    content-visibility: hidden;
}





.SideBarcontainer{
    width: 37vw;
}

#completedsideBar1{
    font-size: 1.5em;
    visibility: visible;
    content-visibility: visible;
    margin-top: 2px;
    margin-left: 8px;
}


.sideBarButtons{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 5px;
    margin-top: 4px;
}


@media screen and (max-width: 900px) and (max-height: 500px) {
    #completedsideBar1{
        visibility: visible;
        content-visibility: visible;
        margin-top: 2px;
        margin-left: 8px;
        font-size: 1.2em;
    }


    .sideBarButtons{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 2px;
    }

    .SideBarButton{
        margin-left: 5px;
        font-size: 1.4em;
        margin-top: 0px;
        opacity: .5;
        border: none;
        outline: none;
        background: none;
    }

    .sideBarElement{
        margin-top: 10px;
        display: flex;
        justify-content: left;
        height: 25px;
        background: #bbe0bd;
        width: calc(38vw - 10px);
        visibility: visible;
        content-visibility: visible;
    }
    .side-bar-title {
        margin-top: -1px;
        padding-right: 3px;
        font-size: 1.2em;
        width: calc(37vw - 140px);
        visibility: visible;
        content-visibility: visible;
    }
}




@media screen and (max-width: 600px) and (max-height: 1000px) {
    .sideBar{
        display: none;
    }
    .sideBarElement{
        display: none;
    }
    #toDosideBar {
        display: none;
    }
    #completedsideBar {
        display: none;
    }

    #otherSectionssideBar {
        display: none;
    }
}