.task-text {
    visibility: hidden;
    content-visibility: hidden;
}

.task-item{
    visibility: hidden;
    content-visibility: hidden;
}

#markedCompleted{
    visibility: visible;
}

#completedTask{
    visibility: hidden;
    display: none;
}

#completedTaskmarkedCompleted{
    visibility: hidden;
    display: none
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
    .task-text {
        position: initial;
        outline: none;
        border: none;
        background: transparent;
        font-family: Arial;
        font-weight: 400;
        visibility: visible;
        content-visibility: visible;
    }

    #completedTask {
        text-decoration: line-through;
    }

    .task-item:hover {
        background: #f7f0ef;
    }

    .task-item {
        position: relative;
        display: flex;
        padding: 10px;
        justify-content: left;
        visibility: visible;
        content-visibility: visible;
    }


    .checkbox {
        width: 2em;
        height: 2em;
    }

    .task-item input[type="text"] {
        font-size: 1.5em;
        width: 100%;
    }

    .hidden {
        display: none;
    }
}
